div#blueprint { background-color: transparent; }

.responsive {
  width: 100%;
  height: auto;
}

body{margin: 0;}
/* ---------------------------------fonts page-------------------------- */

h2{font-size: 20pt;
   font-family: 'digitalstrip_2.0_bbregular'; 
   padding-left: 2.5em;}

@font-face {
    font-family: 'digitalstrip_2.0_bbregular';
    src: url('digitalstrip2bb_reg-webfont.woff2') format('woff2'),
         url('digitalstrip2bb_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* ---------------------------------home page-------------------------- */

/* ------------intro------------ */


.intro {
  display: grid;
  grid-template-columns: 100 100;
  background-color: #1962B7;
  color: #444;
}

.mascot{ 
    padding-left: 2em;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;}

.speechbubbleintro{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;}

.titlecard{padding-left: 2em;
           width: 90%;
           }

.speech-text{padding: 0.1em;}

/* ------------bottom of eterrnity artwork------------ */

#eternity {
  display: grid;
  grid-template-columns: 100 100;
  background-color: #ffffff;}

#eternity2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;}

#eternity3{
    padding-left: 5em;
    width: 78%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;}

/* ------------speech bubble------------ */

#speech-bubble {
	position: relative;
	background: #ffffff;
	border-radius: 5em;
    margin: 2em;
}

#speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 53%;
	width: 0;
	height: 0;
	border: 54px solid transparent;
	border-right-color: #ffffff;
	border-left: 0;
	border-top: 0;
	margin-top: -27px;
	margin-left: -54px;
}

/* ------------speech bubble2------------ */

#speech-bubblee {
	position: relative;
	background: #252525;
	border-radius: .4em;
}

#speech-bubblee:after {
	content: '';
	position: absolute;
	top: 0;
	left: 23%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #252525;
	border-top: 0;
	border-right: 0;
	margin-left: -10px;
	margin-top: -20px;
}

/* ------------links to the pages------------ */

.linkstopages {
  display: grid;
  grid-template-columns: 100 100 100;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  color: #fff;
  border-radius: 5px;
  padding: 2px;
  font-size: 150%;
}

.a {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .b {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .c {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .d {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .e {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .f {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }


