div#blueprint { background-color: transparent; }

.responsive {
  width: 100%;
  height: auto;
}

body{margin: 0;}

/* ------------animations for links------------- */

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



/* Backward */
.hvr-backward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-backward:hover, .hvr-backward:focus, .hvr-backward:active {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
}
/* ---------------------------------fonts page-------------------------- */

p{font-size: 20pt;
   font-family: 'gill sans';
   color: #333;}

p2{font-size: 20pt;
   font-family: 'digitalstrip_2.0_bbregular';
   color: #fff;}


h2{color: #333;
   font-size: 20pt;
   font-family: 'digitalstrip_2.0_bbregular'; 
   padding-left: 2.5em;}

h4{color: #CE111F;
   font-size: 30pt;
   font-family: 'gill sans';
   text-shadow: 0 1px 0px #1571BC, 1px 0 0px #1571BC, 1px 2px 1px #1571BC, 2px 1px 1px #1571BC, 2px 3px 2px #1571BC, 3px 2px 2px #1571BC, 3px 4px 2px #1571BC;
   }

h5{margin: 0;
   font-size: 100pt;
   text-align: center;    
   font-family: 'gill sans';    
   color: #A51B00;
   text-shadow: 0 1px 0px #DFBB33, 1px 0 0px #DFBB33, 1px 2px 1px #DFBB33, 2px 1px 1px #DFBB33, 2px 3px 2px #DFBB33, 3px 2px 2px #DFBB33, 3px 4px 2px #DFBB33, 4px 3px 3px #DFBB33, 4px 5px 3px #DFBB33, 5px 4px 2px #DFBB33, 5px 6px 2px #DFBB33, 6px 5px 2px #DFBB33, 6px 7px 1px #DFBB33, 7px 6px 1px #DFBB33, 7px 8px 0px #DFBB33, 8px 7px 0px #DFBB33;
}

h6{color: #CE111F;
   font-size: 20pt;
   font-family: 'gill sans'; 
   text-align: center;
   margin: 10px;}

h7{
   color: #CE111F; 
   font-size: 50pt;
   font-family: 'gill sans';
   text-shadow: 0 1px 0px #1571BC, 1px 0 0px #1571BC, 1px 2px 1px #1571BC, 2px 1px 1px #1571BC, 2px 3px 2px #1571BC, 3px 2px 2px #1571BC, 3px 4px 2px #1571BC;
   }

h8{margin: 0;
   font-size: 100pt;
   text-align: center;    
   font-family: 'gill sans';    
   color: #0D5489;
   text-shadow: 0 1px 0px #D30B2F, 1px 0 0px #D30B2F, 1px 2px 1px #D30B2F, 2px 1px 1px #D30B2F, 2px 3px 2px #D30B2F, 3px 2px 2px #D30B2F, 3px 4px 2px #D30B2F, 4px 3px 3px #D30B2F, 4px 5px 3px #D30B2F, 5px 4px 2px #D30B2F, 5px 6px 2px #D30B2F, 6px 5px 2px #D30B2F, 6px 7px 1px #D30B2F, 7px 6px 1px #D30B2F, 7px 8px 0px #D30B2F, 8px 7px 0px #D30B2F;
}

h9{margin: 0;
   font-size: 100pt;
   text-align: center;    
   font-family: 'gill sans';    
   color: #D8D8D8;
   text-shadow: 0 1px 0px #FFF200, 1px 0 0px #FFF200, 1px 2px 1px #FFF200, 2px 1px 1px #FFF200, 2px 3px 2px #FFF200, 3px 2px 2px #FFF200, 3px 4px 2px #FFF200, 4px 3px 3px #FFF200, 4px 5px 3px #FFF200, 5px 4px 2px #FFF200, 5px 6px 2px #FFF200, 6px 5px 2px #FFF200, 6px 7px 1px #FFF200, 7px 6px 1px #FFF200, 7px 8px 0px #FFF200, 8px 7px 0px #FFF200;
}

h10{margin: 0;
   font-size: 100pt;
   text-align: center;    
   font-family: 'gill sans';    
   color: #1E7203;
   text-shadow: 0 1px 0px #8404BF, 1px 0 0px #8404BF, 1px 2px 1px #8404BF, 2px 1px 1px #8404BF, 2px 3px 2px #8404BF, 3px 2px 2px #8404BF, 3px 4px 2px #8404BF, 4px 3px 3px #8404BF, 4px 5px 3px #8404BF, 5px 4px 2px #8404BF, 5px 6px 2px #8404BF, 6px 5px 2px #8404BF, 6px 7px 1px #8404BF, 7px 6px 1px #8404BF, 7px 8px 0px #8404BF, 8px 7px 0px #8404BF;
}

h11{
    margin: 0;
   font-size: 100pt;
   text-align: center;    
   font-family: 'gill sans';    
   color: #F20606;
   text-shadow: 0 1px 0px #0569C4, 1px 0 0px #0569C4, 1px 2px 1px #0569C4, 2px 1px 1px #0569C4, 2px 3px 2px #0569C4, 3px 2px 2px #0569C4, 3px 4px 2px #0569C4, 4px 3px 3px #0569C4, 4px 5px 3px #0569C4, 5px 4px 2px #0569C4, 5px 6px 2px #0569C4, 6px 5px 2px #0569C4, 6px 7px 1px #0569C4, 7px 6px 1px #0569C4, 7px 8px 0px #0569C4, 8px 7px 0px #0569C4;
}

h12{
    margin: 0;
   font-size: 100pt;
   text-align: center;    
   font-family: 'gill sans';    
   color: #000000;
   text-shadow: 0 1px 0px #0569C4, 1px 0 0px #0569C4, 1px 2px 1px #0569C4, 2px 1px 1px #0569C4, 2px 3px 2px #0569C4, 3px 2px 2px #0569C4, 3px 4px 2px #0569C4, 4px 3px 3px #0569C4, 4px 5px 3px #0569C4, 5px 4px 2px #0569C4, 5px 6px 2px #0569C4, 6px 5px 2px #0569C4, 6px 7px 1px #0569C4, 7px 6px 1px #0569C4, 7px 8px 0px #0569C4, 8px 7px 0px #0569C4;
}



.homepagetitles{text-align: center;}

.captitle{text-align: center;}

.thortitle{text-align: center;
           padding-top: 4em; }

.hulktitle{text-align: center;
          padding-top: 4em;}

.spidertitle{text-align: center;
             padding-top: 4em;}

.fantastictitle{text-align: center;
             padding-top: 4em;}

@font-face {
    font-family: 'digitalstrip_2.0_bbregular';
    src: url('digitalstrip2bb_reg-webfont.woff2') format('woff2'),
         url('digitalstrip2bb_reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p3{font-size: 13pt;
   font-family: 'gill sans';
   color: #fff;}


/* ---------------------------------home page-------------------------- */

/* ------------intro------------ */


.intro {
  padding-top: 4em;     
  display: grid;
  grid-template-columns: 100 100;
  background-color: #1962B7;
  color: #444;
  margin-bottom: -0.3em;    
}

.mascot{ 
    padding-left: 2em;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;}

.speechbubbleintro{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;}

.titlecard{padding-left: 2em;
           width: 90%;
           }

.speech-text{padding: 0.1em;}

/* ------------bottom of eterrnity artwork------------ */

#eternity {
  z-index: 1;    
  display: grid;
  grid-template-columns: 100 100;
  background-color: #ffffff;}

#eternity2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;}

#eternity3{
    padding-left: 5em;
    width: 91%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;}

/* ------------speech bubble------------ */

#speech-bubble {
	position: relative;
	background: #ffffff;
	border-radius: 5em;
    margin-left: 2em;
    margin-top: 2em;
    margin-right: 2em;
}

#speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 53%;
	width: 0;
	height: 0;
	border: 54px solid transparent;
	border-right-color: #ffffff;
	border-left: 0;
	border-top: 0;
	margin-top: -27px;
	margin-left: -54px;
}


  
    

/* ------------speech bubble2------------ */

#speech-bubblee {
	position: relative;
	background: #252525;
	border-radius: 5em;
    margin: 2em;
    
}

.speechtext{padding: 2em;
            text-align: center;}

#speech-bubblee:after {
	content: '';
	position: absolute;
	top: 0;
	left: 23%;
	width: 0;
	height: 0;
	border: 41px solid transparent;
	border-bottom-color: #252525;
	border-top: 0;
	margin-left: -41px;
	margin-top: -41px;
}



/* ------------link to the timeline------------ */


.linktotimeline{
                align-content: center;
                display: grid;
                grid-template-columns: 100 100;
                grid-gap: 10px;
                }

.timelineexample1{ 
       padding-left:15em;
       padding-right: 3em;
        width: 40em;
        grid-column-start: 1;
        grid-column-end: 1;}

.timelineexample2{
        padding-right:15em;
        padding-left: 3em;
        width: 40em;
        grid-column-start: 2;
        grid-column-end: 2;}

.linktotimeline2{
    padding-top: 1em;
    padding-left: 40%;}

.button {   
  background-color: #CE111F; 
  border: none;
  color: white;
  padding: 35px 72px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}


/* ------------links to the pages------------ */

.linkstopages {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 1em; 
  padding-bottom: 1em;    
  display: grid;
  grid-template-columns: 100 100 100 100;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  color: #fff;
  border-radius: 5px;
  padding: 2px;
  font-size: 150%;
}

.a {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .b {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .c {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .d {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .e {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .f {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
    }

/* ---------------------------------Character pages general-------------------------- */


/* ------------navagation------------ */

.navbar { 
  padding-right: 1em;    
  font-family: 'gill sans';    
  width: 100%;     
  position: fixed;    
  z-index: 5;      
  background-color: #333;
}

.logo{float: left;
      padding: 10px;}

.navbar a {    
  margin-top: 1em;      
  float: right;
  font-size: 30px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.dropdown {
  margin-top: 1em;       
  float: right;
  overflow: hidden;    
}

.dropdown .dropbtn {
  z-index: 6;     
  font-size: 30px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #CE111F;
  height: 100%;     
}

.dropdown-content {    
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 5;
}

.dropdown-content a {
  font-size: 25px;    
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* ---------------------------------Character pages content-------------------------- */

/* ------------Biography/overview layout------------ */

.overview {
  display: grid;
  grid-template-columns: 100 100;  
}

.bio{
    grid-column-start: 1;
    grid-column-end: 1;
    padding: 2em}

.profilepic{ 
    grid-column-start: 2;
    grid-column-end: 2;
    width: 30em;
    padding: 4em;}




/* ------------Stats for heroes------------ */


#statstitle{padding-left: 1.5em;}

.stats {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.durability .circle {
  stroke: #379B02;
}

.circular-chart.Energy .circle {
  stroke: #920496;
}

.circular-chart.Fighting .circle {
  stroke: #1156BA;
}

.circular-chart.Intelligence .circle {
  stroke: #FFF41F;
}

.circular-chart.Speed .circle {
  stroke: #D10918;
}

.circular-chart.Strength .circle {
  stroke: #FFAC06;
}

.percentage {
  fill: #333;
  font-family: sans-serif;
  font-size: 0.25em;
  text-anchor: middle;
}

.percentage2 {
  fill: #379B02;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.percentage3 {
  fill: #920496;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.percentage4 {
  fill: #1156BA;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.percentage5 {
  fill: #FFF41F;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.percentage6 {
  fill: #D10918;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.percentage7 {
  fill: #FFAC06;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}


.loved{padding: 2em;}

.recommendedtitle{padding-left: 2em;
                  padding-right: 2em;}

/* ------------Reccomended reading------------ */

.recommended {
  padding-left: 6em; 
  padding-right: 6em;    
  display: grid;
  grid-template-columns: 100 100 100 100;  
}

.recommended1{
    padding: 1em;
    width: 15em;
    grid-column-start: 1;
    grid-column-end: 1;}

.recommended2{ 
    padding: 1em;
    width: 15em;
    grid-column-start: 2;
    grid-column-end: 2; }

.recommended3{ 
    padding: 1em;
    width: 15em;
    grid-column-start: 3;
    grid-column-end: 3; }

.recommended4{
    padding: 1em;
    width: 15em;
    grid-column-start: 4;
    grid-column-end: 4; }


/* ---------------------------------Parallax scrolling-------------------------- */

.wrapperparallex {
  padding-top: 6em;     
  z-index: -1;    
  background-color: #ffffff;     
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}





.section1 {   
  position: relative;
  height: 100vh;
}


.parallax1::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
}

.captainparallax{z-index: 2;}

.ironmanparallax{z-index: -2;}

.ffparallax{z-index: -2;}


/* ---------------------------------Timeline of events-------------------------- */

* {
  box-sizing: border-box;
}

.eventsbody {
  padding-top: 5em;    
  background-color: #474e5d;
  font-family: Gill sans;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 15px;
  background-color: #1571BC;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -8px;
}

.timelinecontainer {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timelinecontainer::after {    
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  right: -29px;  
  background-color: #CE111F;
  border: 5px solid #ffffff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}


.left {
  left: 0;
}

.right {
  left: 50%;
}

.right2 {
  z-index: 2;    
  left: 50%;
}    

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 34px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 34px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -30px;
}

.content {   
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

    
.timelineimg{padding-left: 3em;
            padding-right: 3em;}    

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  .timelinecontainer {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  .timelinecontainer::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }
}



/* ---------------------------------Footer -------------------------- */


* {
  font-family: gill sans;
}


.footer-distributed {
  margin-top: 0;    
  background-color: #333;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  padding: 45px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-distributed p.footer-links {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 0 10px;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  transition: ease .25s;
}

.footer-distributed .footer-links a:before {
  content: "·";
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right {
  float: right;
  margin-top: 6px;
  max-width: 300px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);
                                          background-color: #CE111F;}

.footer-distributed p.footer-links a:hover{color: #CE111F;}


/* ---------------------------------Media Query-------------------------- */


@media screen and (max-width: 600px) {
h2{
  font-size: 10px;
    }}
    
@media screen and (max-width: 600px) {
p2{
  font-size: 10px;
    }  }  
    
@media screen and (max-width: 600px) {
h7{
  font-size: 40px;
    }}
    
@media screen and (max-width: 600px) {
h2{
  font-size: 10px;
    }}
    
@media screen and (max-width: 600px) {
.navbar{
  font-size: 1px;    
  height: 12%;
    }  } 
     
@media screen and (max-width: 600px) {
.linktotimeline{
  font-size: 6px;    
  width: 12%;   
    }  }   
    
    

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1.8;
  }
}



